/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   hr {
       width: 90%
   }

    .about {
       margin-top: -20px;

    }

    .spinning {
        transform: scale(0.8);
    }

    div.card-body {
        padding: 0px;
    }

    img.mx-auto.d-block {
        transform: scale(0.8);
    }
  img.pic_yoann {
        align-content: center;
      width: 300px;
      height: 300px;
    }

    .pic_yoann {
  text-align: center;
    }

.greeting {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;

}
    #greeting2 {
    text-align: center;
        font-size: 95%;
        margin-bottom: 28px;
    }

   .works {
       width: 90%;
       text-align: center;
   }

   .works h1 {
       font-size: 28px;
   }

    .ido1 {
        margin-bottom: 28px;
    }

    .brands {
        width: 90%;
    }

    .footer_center h1 {
        font-size: 20px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

    .greeting {
        text-align: center;
    }


}
